body{
    margin: 0;
    padding: 0;
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.container{
    display: flex;
    justify-content: center;
    background-color: rgb(2, 2, 24);
}

main{
    width: 80%;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 20vh;    
}

.logo{
    min-width: 120px;
    display: flex;
    align-items: center;
}

.logo a{
    color:  white;
}

.navbar{
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.navbar a{
    color: orange;
    text-decoration: none;
    background-color: rgb(37, 36, 36);
    padding: 7px;
    font-weight: 400;
    border-radius: 5px;
    transition: .3s linear;
}

.navbar a:hover{
    background-color: white;
    font-weight: 300;
}

.section{
    display: flex;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.hero{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.hero h1{
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 10em;
}

.button-receta{
    padding: 15px;
    border-radius: 10px;
    max-width: 70%;
    background-color: white;
    border: none;
    color: white;
    box-shadow: 0 0 10px 1px rgb(241, 190, 95) ;
    transition: .3s linear;
}

.button-receta:hover{
    padding: 16px;
}

.span{
    margin-top: 10px;
    color: rgb(255, 165, 0);
}

.photo{
    width: 65%;
    border-radius: 10px;
}

.ingredientes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    height: 70vh;
    margin-bottom: 100px;
}

.ingredientes img{
    width: 65%;
    border-radius: 10px;
}

.lista-ingredientes{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
}

.lista-ingredientes h3{
    color: orange;
}

.lista-ingredientes ul li{
    margin-top: 10px;
}

.receta{
    color: white;
}

.preparacion{
    display: flex;
    flex-direction: column;
}

.preparacion ol li{
    margin-top: 10px;
    padding-left: 20px;
}

.preparacion h2{
    font-size: 30px;
    color: orange;
    margin: 0;
}

.footer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer p{
    color: white;
    text-align: center;
}






